*{
    margin: 0;
    padding:0;
    font-family: fantasy;
}

body{
    background-color: rgb(78, 61, 138);
    display: flex;
    align-items: center;
    justify-content: center;
}

.TITTLE{
    color: white;
}

.field{
    width: 240px;
    height: 60px;
    padding: 5px;
    text-align: right;
    font-size: 32px;
    border: none;
    border-radius: 15px;
    outline: none;
}

.btnADD{
    width: 60px;
    height: 60px;
    font-size: 32px;
    margin-top: 5px;
    transition: 0.5s;
    border: none;
    border-radius: 15px;
    outline: none;
}

.btnADD:hover{
    transform: scale(1.03);
    transition: 0.5s;
}

.zero{
    width: 126px;
}

.clear{
    width: 188px;
}

.Operator{
    border: none;
}

footer{
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
}